nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    margin: 10px;
}

nav {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}